name: CI
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
          # Note: 3.4+ is not yet supported by google-protobuf
          - '3.4.0-rc1'
        os: ['ubuntu-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Tests
      run: bundle exec rake test
    - name: RuboCop
      run: bundle exec rake lint
      if: matrix.ruby != '3.1' && matrix.ruby != '3.2' && matrix.ruby != '3.3' && matrix.ruby != '3.4.0-rc1'
